body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.page {
  width: 1000px;
  margin: 65px auto 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 55px;
}

ul {
  list-style: none;
  display: flex;
  gap: 48px;
  margin: 0;
  padding: 0;
}

h1,
ul {
  font-family: 'Mulish', sans-serif;
}
