body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.page {
  width: 1000px;
  margin: 65px auto 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 55px;
}

ul {
  list-style: none;
  display: flex;
  gap: 48px;
  margin: 0;
  padding: 0;
}

a {
  color: #1f1534;
  text-decoration: none;
}

ul li a:hover {
  font-weight: 700;
}

h1,
ul {
  font-family: 'Mulish', sans-serif;
}

main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 49px;
  line-height: 56px;
  color: #1f1534;

  font-weight: 400;

  width: 490px;
}

h1 span {
  color: #89c5cc;
  font-weight: 700;
}

section p {
  font-size: 14px;
  line-height: 28px;
  color: #7d7987;

  margin: 40px 0;
}

button {
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
}

footer {
  font-size: 14px;
  line-height: 28px;
  margin-top: 80px;

  text-align: center;
}

footer a {
  font-weight: 700;
}
